.breadcrumb{
  margin: 20px;
  padding:5px;
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
}

.title {
  height: 50px;
  top: 125px;
  left: 0px;
  background: #052854;
  display: flex;
  justify-content: center;
}

.title p {
  color: #ddd;
  padding: 15px;
  font-size: medium;
  text-align: center;
}
.card {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 29%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 10px 16px;
  float: center;
  display: flex;
  flex-wrap: wrap;
}

button{
width: 50%;
height: 40%;
background: #FFA500;
border-radius: 30px;
}
